<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Scrape The News</h1>
    </div>
  </div>
  <div class= "row">
    <div class="col-md-12 text-center">
      <button id="scrapeESPN" class= "btn btn-primary">Scrape Sports News</button>
    </div>
  </div>
  <div class= "row">
    <div class="col-md-12">
      <div id="notes"></div>
      {{#each newsScrape}}
        <h3 data-id= "{{this._id}}">{{this.title}}</h3>
        <a href="http://www.espn.com/{{this.link}}">http://www.espn.com/{{this.link}}</a>
      {{/each}}
    </div>
  </div>
</div>

