body {
    background-image: url("grasstwo.jpg");
    background-size: 100%;
}


.topheader {
    background: rgba(155,184,204,0.75);
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.bottomheader {
    background: rgba(155,184,204,0.75);
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    padding-bottom: 10px;
}

h1 {
    font-size: 75px;
}

#scrapeESPN,
#scrapeFox {
    margin-right: 5px;
}

#bgImage {
    overflow-x:hidden;
    width: 100%;
    height: 400px;
}

.listInfo {
    color: blue;
}
.listingTitle {
    font-size: 25px;
    font-family: 'Droid Serif', serif;
}

